Package: centrunk
Version: 1.02
Section: base
Priority: optional
Architecture: all
Depends: apache2, php, php-curl, php-yaml, libasio-dev, libncurses-dev, libssl-dev, cmake, dialog, gcc-arm-linux-gnueabihf, g++-arm-linux-gnueabihf
Maintainer: Hanna Johnson <hanna@centrunk.net>
Description: Custom package for compiling dvmhost with user choices
